
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Chào mừng bạn đến Evotech</a>
    </div>
    <p style="font-size:1.1em">Hi {{name}}</p>
    <p>Bạn đã yêu cầu thay đổi mật khẩu ứng dụng Evotech. Sử dụng mã OTP dưới đẩy để hoàn thành việc thay đổi.Lưu ý mã chỉ có hiệu lực trong vòng 5 phút thôi nha.</p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{code}}</h2>
    <p style="font-size:0.9em;">Regards,<br />Evotech Inc</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#111;font-size:0.8em;line-height:1;font-weight:300">
      <p>Evotech Inc</p>
      <p>Da Nang City</p>
      <p>VietNam</p>
    </div>
  </div>
</div>
